<aside class="col-2 debug-border">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'start_page.read.action' ? 'active' : '' }}"
                   href="{{ path('start_page.read.action') }}">
                    Start-page
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_1.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_1.read.action') }}">
                    TBD 1 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_2.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_2.read.action') }}">
                    TBD 2 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_3.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_3.read.action') }}">
                    TBD 3 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_4.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_4.read.action') }}">
                    TBD 4 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_5.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_5.read.action') }}">
                    TBD 5 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_6.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_6.read.action') }}">
                    TBD 6 - Lorem
                </a>
            </li>
            <li class="main-nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'tbd_7.read.action' ? 'active' : '' }}"
                   href="{{ path('tbd_7.read.action') }}">
                    TBD 7 - Lorem
                </a>
            </li>
    </nav>
</aside>
